<a href="https://colab.research.google.com/github/dalsi137/nlpJ036/blob/master/HomeAssignment/NLP_5_Dec_HomeAssignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AMAZON PRODUCT REVIEW

In [0]:
#loading library
import pandas as pd

In [0]:
#loading data into variable called 'data'
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines=True)

In [4]:
#checking data loaded or not
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
#Defining a function for counting number of words
def word_count(str):
    counts = dict()
    #making all words to lower case for simplicity and splitting the words by blank spaces
    words = str.lower().split()
    for word in words:
        #icreasing counter by 1 if word has occured before
        if word in counts:
            counts[word] += 1
        #if the word has not occured before, start a new counter
        else:
            counts[word] = 1
    return counts

In [0]:
#new column added with the number of word occurence in the string
data['reviewText_word'] = data['reviewText'].apply(word_count,1)
data['summary_word'] = data['summary'].apply(word_count,1)

In [13]:
#checking whether data has been modified or not
data.head()

       reviewerID  ...                                       summary_word
0  A32T2H8150OJLU  ...  {'a': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1  A3MAFS04ZABRGO  ...  {'price': 1, 'of': 1, 'gold': 1, 'is': 1, 'up,...
2  A1F1A0QQP2XVH5  ...  {'good': 1, 'functionality,': 1, 'but': 1, 'no...
3   A49R5DBXXQDE5  ...  {'one': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  A2XRMQA6PJ5ZJ8  ...                  {'still': 1, 'the': 1, 'best': 1}

[5 rows x 12 columns]