<a href="https://colab.research.google.com/github/dalsi137/nlpJ036/blob/master/ClassAssignment/NLP_7_dec_ClassAssignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find number of vowels and consonants in amazon review data

In [0]:
import pandas as pd

In [0]:
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines=True)

In [21]:
data.head()

       reviewerID  ...               summary_vowconCount
0  A32T2H8150OJLU  ...  {'Vowels': 12, 'Consonants': 20}
1  A3MAFS04ZABRGO  ...  {'Vowels': 14, 'Consonants': 31}
2  A1F1A0QQP2XVH5  ...  {'Vowels': 15, 'Consonants': 25}
3   A49R5DBXXQDE5  ...  {'Vowels': 14, 'Consonants': 22}
4  A2XRMQA6PJ5ZJ8  ...    {'Vowels': 3, 'Consonants': 9}

[5 rows x 12 columns]

In [0]:
vowels = ['a', 'e', 'i', 'o', 'u']
consonants = ['b','c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']

In [0]:
def vowcon_count(str):

    counts = dict()
    vowel_count = 0
    consonant_count = 0
    for i in str.lower():
        if i in vowels:
          vowel_count+=1
        if i in consonants:
          consonant_count+=1
            
    counts['Vowels'] = vowel_count
    counts['Consonants'] = consonant_count

    return counts

In [0]:
data['reviewText_vowconCount']=data['reviewText'].apply(vowcon_count,1)
data['summary_vowconCount'] = data['summary'].apply(vowcon_count,1)

In [30]:
data.head(100)

        reviewerID  ...               summary_vowconCount
0   A32T2H8150OJLU  ...  {'Vowels': 12, 'Consonants': 20}
1   A3MAFS04ZABRGO  ...  {'Vowels': 14, 'Consonants': 31}
2   A1F1A0QQP2XVH5  ...  {'Vowels': 15, 'Consonants': 25}
3    A49R5DBXXQDE5  ...  {'Vowels': 14, 'Consonants': 22}
4   A2XRMQA6PJ5ZJ8  ...    {'Vowels': 3, 'Consonants': 9}
..             ...  ...                               ...
95  A304GUEPCPYM3Z  ...  {'Vowels': 11, 'Consonants': 22}
96  A10JPZAYDGFHEV  ...    {'Vowels': 5, 'Consonants': 7}
97   A8LEFDO3AKIJP  ...  {'Vowels': 17, 'Consonants': 23}
98   AIKGBCYBXVH8I  ...    {'Vowels': 0, 'Consonants': 3}
99  A2L9XBP14SK6IU  ...    {'Vowels': 0, 'Consonants': 0}

[100 rows x 12 columns]

Find words starting with B or Ending with G

In [0]:
import re

In [29]:
text1=data.iloc[1].reviewText
text1
re.findall(r'\b[bB]\w+\b', text1)

['BELATED',
 'burying',
 'brandname',
 'best',
 'business',
 'before',
 'business',
 'bearer',
 'boy',
 'business',
 'best',
 'been',
 'by',
 'being',
 'business',
 'by',
 'bear',
 'by',
 'by',
 'because',
 'by',
 'BROKEN',
 'be',
 'by',
 'Based',
 'built',
 'BETTER',
 'BENCHMARKING',
 'be',
 'business',
 'be',
 'business',
 'brandname',
 'be',
 'be',
 'be',
 'business',
 'By',
 'be',
 'be',
 'bearer']

In [26]:
text2=data.iloc[1].reviewText
text2
re.findall(r'\b\w+[gG]\b', text2)

['sharing',
 'burying',
 'praising',
 'including',
 'continuing',
 'surviving',
 'selling',
 'According',
 'selling',
 'remaining',
 'being',
 'using',
 'amusing',
 'disappointing',
 'frustrating',
 'remaking',
 'differentiating',
 'following',
 'reasoning',
 'MANUFACTURING',
 'BENCHMARKING',
 'listening',
 'puzzling',
 'replacing',
 'discontinuing',
 'missing',
 'Looking']

In [31]:
text3=data.iloc[1].reviewText
text3
re.findall(r'\b[Bb]\w+ | \w+[gG] ', text3)

['BELATED ',
 ' sharing ',
 ' burying ',
 ' praising ',
 ' including ',
 'brandname ',
 'best ',
 'business ',
 'before ',
 'business ',
 'bearer ',
 'business ',
 ' continuing ',
 ' surviving ',
 ' selling ',
 ' According ',
 'best ',
 ' remaining ',
 'been ',
 'by ',
 ' being ',
 'business ',
 'by ',
 'bear ',
 'by ',
 ' using ',
 ' amusing ',
 ' disappointing ',
 ' frustrating ',
 ' remaking ',
 'by ',
 ' differentiating ',
 'because ',
 ' following ',
 'by ',
 'be ',
 'by ',
 'Based ',
 'built ',
 ' MANUFACTURING ',
 'BETTER ',
 ' BENCHMARKING ',
 ' listening ',
 'be ',
 'business ',
 'be ',
 'business ',
 'brandname ',
 ' puzzling ',
 ' replacing ',
 ' discontinuing ',
 'be ',
 ' missing ',
 'be ',
 'be ',
 'business ',
 'By ',
 'be ',
 'be ']